

html, body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, button, a{

    font-family: 'Roboto', sans-serif;
}







.navbar{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
   
}
.nav-anchors a{
    min-width: 80%;
    margin: 0 10px;
    

}
.navbar button{
    margin: 0 10px;
}




.main{
    display: flex;
    justify-content: center;
}
.main-box{
    opacity: 80%;
   background-color: black;
   color: white;
   display: flex;
   position: absolute;
   align-items: flex-end;
   flex-direction: column;
   margin: 17% auto;

   
}
