

html, body{
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, p, button, a{

    font-family: 'Roboto', sans-serif;
}







.navbar{
    display:  flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
   
}
.nav-anchors a{
    min-width: 80%;
    margin: 0 10px;
    max-width: 1400px;
    

}
.navbar button{
    margin: 0 10px;
}






/* ---------------------------------------------------------------------------------------------------------------------- */




.main{
    display: flex;
    justify-content: center;
}
.main-box{
    box-shadow: rgb(0 0 0 / 75%) 10px 10px 10px;
    opacity: 80%;
    max-width: 1400px;
    background-color: black;
    color: white;
    display: flex;
    position: absolute;
    align-items: flex-end;
    flex-direction: column;
    margin: 27% auto;
    text-align: center;
   
}


.mid-text{

    text-align: center;
    
}
.mid-text h3{
    margin: 0 500px ;

}
/* .mid-text > div:nth-last-of-type(1){
    height: 100px;

} */



/* -------------------------------------------------------------- */

.mid-img{

    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 50px;
    margin: 50px 50px;
    max-width: 1400px;
    justify-items: center;
    align-items: center;
    
}




.endmid-content{
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    margin: 0 auto;
    
}

.endmid-content .endmid-text{
    margin: 50px auto;


}







/* ------------------------------------------------------------------------------------------------------------------------------------- */






.box-row-contact{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    max-width: 1400px;
    margin:20px auto 120px;
  

    align-items: center;
    padding: 0 25px;
}
.innerbox{

    background-color: rgb(0, 0, 0);
    box-shadow: rgb(255 255 255 / 48%) 10px 10px 10px;
    width: 390px;
    border-radius: 15px;
    padding: 50px 10px;
    text-align: center;
    justify-content: center;
    height: 230px;
}
